@media (max-width: 1000px) {
  .title {
    height: 60px;
    font-size: 50px;
    padding: 20px;
  }
}
@media (max-width: 740px) {
  .title {
    height: 50px;
    font-size: 35px;
    padding: 30px;
  }
}

.content {
  background-image: url("/photo/home\(960*634\).JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 960px;
  height: 634px;
  margin: auto;
}
.text {
  height: 80px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 4px 20px #fff;
}

@media (max-width: 1000px) {
  .content {
    max-width: 660px;
    max-height: 434px;
    margin: 30px auto;
  }
  .text {
    font-size: 27px;
    margin: auto;
  }
}

@media (max-width: 740px) {
  .content {
    max-width: 400px;
    max-height: 300px;
    margin: 20px auto;
  }
  .text {
    font-size: 20px;
    margin: auto;
  }
}
